body {
  margin: 0;
  text-align: center;
  font-family: 'Sansita', sans-serif;
  color: #6f8d9a;
  line-height:1.5em;
  background-color: #FFF5EB;
}
h1 {
  position: relative;
  margin: 30px auto 0 auto;
  font-family: 'Euphoria Script', cursive;
  font-size: 562.5%;
  color: #b46FBF;
}
h2 {
  font-family: 'Amita', cursive;
  font-size: 2.3rem;
  margin-bottom: 20px;
  color: #66BFBF;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  margin: 15px auto 0 auto;
  color: #b46687;
}
.design-text {
  margin: 25px 10px -10px 10px;
}
div {
  background-color: #FFF5EB;
}
.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position:absolute;
  right: 170px;
  top: 50px;
}
.photo {
  font-style: italic;
  font-size: 105%;
  font-variant: small-caps;
}
.bottom-cloud {
  position:absolute;
  left: 170px;
  bottom: 300px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #BfD8D7;
  border-width: 5px;
  width: 5%;
  margin: 20px auto 50px auto;
}
.profile {
  width: 60%;
  margin: 0 auto 0 auto;
}
.middle-container {
  padding: 50px 50px 0 50px;
}
.LifePalettes {
  margin: 13px auto 15px auto;
}
.skill-row {
  width: 50%;
  margin: 0 auto;
  line-height: 1.8em;
}
.skill-row-2 {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 1.8rem;
}
.ken-rylee {
  margin: 13px auto 15px auto;
}
.I-believe {
  margin: 0 auto 20px auto;
}
.colada {
  margin: 50px auto 10px auto;
}
.mango {
  margin: 25px auto 0 auto;
}
.best-skill {
  margin:  10px auto 10px auto;
}
.bottom-container {
  padding: 40px 50px 20px 50px;
  background-color: #88BFBF;
  margin: 60px auto 0 auto;
}
.bottom-para {
  line-height: 1.4;
  margin: 8px auto 50px auto;
  width: 50%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Sansita', sans-serif;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: .2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}
.copyright-line {
  font-family: 'Lato', san-serif;
  font-size: .6rem;
  color: #FFF5EB;
  letter-spacing: .12rem;
  margin: 15px auto 0 auto;
}
a:hover {
  color: #eaf6f6;
}
.footer-link {
  margin: 0 21px 0 21px;
  color: #11999E;
  text-decoration: none;
  font-family: 'Sansita', sans-serif;
  font-size: .9rem;
}
