body {
  margin: 0;
  text-align: center;
  font-family: 'Sansita', sans-serif;
  color: #777799;
}
h1 {
  position: relative;
  margin: 30px auto 0 auto;
  font-family: 'Euphoria Script', cursive;
  font-size: 562.5%;
  color: #66BFBF;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.3rem;
  margin-bottom: 10px;
  color: #66BFBF;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  margin: 10px auto 0 auto;
  color: #b46687;
}
div {
  background-color: #FFF5EB;
}
.top-container {
  background-color: #FFF5EB;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position:absolute;
  right: 200px;
  top: 50px;

}
.bottom-cloud {
  position:absolute;
  left: 200px;
  bottom: 300px;
}
.middle-container {
  padding: 0 50px 0 50px;
}
.photo {
  font-style: italic;
  font-size: 105%;
  font-variant: small-caps;
}
